In [41]:
import pandas as pd

In [42]:
df=pd.read_csv('D:/Rajyug/Projects/Real Estate Price Prediction/notebook/data/Dubai.csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44745 entries, 0 to 44744
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transaction Number       44745 non-null  object
 1   Transaction Date         44745 non-null  object
 2   Transaction Type         44745 non-null  object
 3   Transaction sub type     44745 non-null  object
 4   Registration type        44745 non-null  object
 5   Is Free Hold?            44745 non-null  object
 6   Usage                    44745 non-null  object
 7   Area                     44745 non-null  object
 8   Property Type            44745 non-null  object
 9   Property Sub Type        44745 non-null  object
 10  Amount                   44745 non-null  object
 11  Transaction Size (sq.m)  44737 non-null  float64
 12  Property Size (sq.m)     44745 non-null  float64
 13  Room(s)                  44745 non-null  object
 14  Bedrooms                 44745 non-null  int64
 15  Parking                  38447 non-null  object
 16  Nearest Metro            29596 non-null  object
 17  Nearest Mall             29584 non-null  object
 18  Nearest Landmark         35288 non-null  object
 19  No. of Buyer             44745 non-null  int64
 20  No. of Seller            44745 non-null  int64
 21  Master Project           107 non-null    object
 22  Project                  44745 non-null  object
 23  Latitude_Project         44745 non-null  float64
 24  Longitude_Project        44745 non-null  float64
dtypes: float64(4), int64(3), object(18)
memory usage: 8.5+ MB

In [44]:
df['Amount'] = df['Amount'].str.replace(',', '').astype(float)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44745 entries, 0 to 44744
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transaction Number       44745 non-null  object
 1   Transaction Date         44745 non-null  object
 2   Transaction Type         44745 non-null  object
 3   Transaction sub type     44745 non-null  object
 4   Registration type        44745 non-null  object
 5   Is Free Hold?            44745 non-null  object
 6   Usage                    44745 non-null  object
 7   Area                     44745 non-null  object
 8   Property Type            44745 non-null  object
 9   Property Sub Type        44745 non-null  object
 10  Amount                   44745 non-null  float64
 11  Transaction Size (sq.m)  44737 non-null  float64
 12  Property Size (sq.m)     44745 non-null  float64
 13  Room(s)                  44745 non-null  object
 14  Bedrooms                 44745 non-null  int64
 15  Parking                  38447 non-null  object
 16  Nearest Metro            29596 non-null  object
 17  Nearest Mall             29584 non-null  object
 18  Nearest Landmark         35288 non-null  object
 19  No. of Buyer             44745 non-null  int64
 20  No. of Seller            44745 non-null  int64
 21  Master Project           107 non-null    object
 22  Project                  44745 non-null  object
 23  Latitude_Project         44745 non-null  float64
 24  Longitude_Project        44745 non-null  float64
dtypes: float64(5), int64(3), object(17)
memory usage: 8.5+ MB

In [46]:
df['parking'] = df['Parking'].apply(lambda x: 'Yes' if pd.notna(x) and x.strip() != "" else 'No')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44745 entries, 0 to 44744
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transaction Number       44745 non-null  object
 1   Transaction Date         44745 non-null  object
 2   Transaction Type         44745 non-null  object
 3   Transaction sub type     44745 non-null  object
 4   Registration type        44745 non-null  object
 5   Is Free Hold?            44745 non-null  object
 6   Usage                    44745 non-null  object
 7   Area                     44745 non-null  object
 8   Property Type            44745 non-null  object
 9   Property Sub Type        44745 non-null  object
 10  Amount                   44745 non-null  float64
 11  Transaction Size (sq.m)  44737 non-null  float64
 12  Property Size (sq.m)     44745 non-null  float64
 13  Room(s)                  44745 non-null  object
 14  Bedrooms                 44745 non-null  int64
 15  Parking                  38447 non-null  object
 16  Nearest Metro            29596 non-null  object
 17  Nearest Mall             29584 non-null  object
 18  Nearest Landmark         35288 non-null  object
 19  No. of Buyer             44745 non-null  int64
 20  No. of Seller            44745 non-null  int64
 21  Master Project           107 non-null    object
 22  Project                  44745 non-null  object
 23  Latitude_Project         44745 non-null  float64
 24  Longitude_Project        44745 non-null  float64
 25  parking                  44745 non-null  object
dtypes: float64(5), int64(3), object(18)
memory usage: 8.9+ MB

In [ ]:
df = df.drop(columns=['Transaction Number', 'Transaction Date', 'Transaction sub type', 'Registration type', 'Is Free Hold?', 'Usage', 'Transaction Size (sq.m)', 'Room(s)', 'Parking', 'No. of Buyer', 'No. of Seller', 'Master Project', 'Latitude_Project', 'Longitude_Project', 'Project'], axis=1)

In [49]:
df.to_csv('data/dubai edited.csv', index=False)

In [50]:
df=pd.read_csv('D:/Rajyug/Projects/Real Estate Price Prediction/notebook/data/Dubai edited.csv')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44745 entries, 0 to 44744
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction Type      44745 non-null  object
 1   Area                  44745 non-null  object
 2   Property Type         44745 non-null  object
 3   Property Sub Type     44745 non-null  object
 4   Amount                44745 non-null  float64
 5   Property Size (sq.m)  44745 non-null  float64
 6   Bedrooms              44745 non-null  int64
 7   Nearest Metro         29596 non-null  object
 8   Nearest Mall          29584 non-null  object
 9   Nearest Landmark      35288 non-null  object
 10  Project               44745 non-null  object
 11  parking               44745 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 4.1+ MB

In [52]:
train_df=pd.read_csv('D:/Rajyug/Projects/Real Estate Price Prediction/artifacts/train.csv')
test_df=pd.read_csv('D:/Rajyug/Projects/Real Estate Price Prediction/artifacts/train.csv')

In [53]:
target_column_name="Amount"

In [54]:
input_feature_train_df=train_df.drop(columns=[target_column_name],axis=1)
target_feature_train_df=train_df[target_column_name]

In [55]:
input_feature_test_df=test_df.drop(columns=[target_column_name],axis=1)
target_feature_test_df=test_df[target_column_name]

In [20]:
import sys
from dataclasses import dataclass

import numpy as np 
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder,StandardScaler

from src.exception import CustomException
from src.logger import logging
import os

from src.utils import save_object

In [ ]:
def get_data_transformer_object(self):
        '''
        This function is responsible for data trnasformation
        
        '''
        try:
            numerical_columns = ["Property Size (sq.m)", "Bedrooms", "Latitude_Project", "Longitude_Project"]
            categorical_columns = [
                "Transaction Type",
                "Area",
                "Property Type",
                "Property Sub Type",
                "Nearest Metro",
                "Nearest Mall",
                "Nearest Landmark",
                "Project",
                "parking"
            ]

            num_pipeline= Pipeline(
                steps=[
                ("imputer",SimpleImputer(strategy="median")),
                ("scaler",StandardScaler())

                ]
            )

            cat_pipeline=Pipeline(

                steps=[
                ("imputer",SimpleImputer(strategy="most_frequent")),
                ("one_hot_encoder",OneHotEncoder(handle_unknown="ignore"))]

            )

            logging.info(f"Categorical columns: {categorical_columns}")
            logging.info(f"Numerical columns: {numerical_columns}")

            preprocessor=ColumnTransformer(
                [
                ("num_pipeline",num_pipeline,numerical_columns),
                ("cat_pipeline",cat_pipeline,categorical_columns)

                ]


            )

            return preprocessor
        
        except Exception as e:
            raise CustomException(e,sys)

In [32]:
from src.components.data_transformation import DataTransformation
from src.components.data_transformation import DataTransformationConfig

In [ ]:
train

In [35]:
train_arr = np.c_[input_feature_train_arr, np.array(target_feature_train_df)]
test_arr = np.c_[input_feature_test_arr, np.array(target_feature_test_df)]

NameError: name 'input_feature_train_arr' is not defined

In [40]:
import numpy as np
print(np.__version__)

1.26.4