In [9]:
import pandas as pd

In [10]:
df=pd.read_csv('D:/Rajyug/Projects/Real Estate Price Prediction/notebook/data/Dubai.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44745 entries, 0 to 44744
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transaction Number       44745 non-null  object
 1   Transaction Date         44745 non-null  object
 2   Transaction Type         44745 non-null  object
 3   Transaction sub type     44745 non-null  object
 4   Registration type        44745 non-null  object
 5   Is Free Hold?            44745 non-null  object
 6   Usage                    44745 non-null  object
 7   Area                     44745 non-null  object
 8   Property Type            44745 non-null  object
 9   Property Sub Type        44745 non-null  object
 10  Amount                   44745 non-null  object
 11  Transaction Size (sq.m)  44737 non-null  float64
 12  Property Size (sq.m)     44745 non-null  float64
 13  Room(s)                  44745 non-null  object
 14  Bedrooms                 44745 non-null  int64
 15  Parking                  38447 non-null  object
 16  Nearest Metro            29596 non-null  object
 17  Nearest Mall             29584 non-null  object
 18  Nearest Landmark         35288 non-null  object
 19  No. of Buyer             44745 non-null  int64
 20  No. of Seller            44745 non-null  int64
 21  Master Project           107 non-null    object
 22  Project                  44745 non-null  object
 23  Latitude_Project         44745 non-null  float64
 24  Longitude_Project        44745 non-null  float64
dtypes: float64(4), int64(3), object(18)
memory usage: 8.5+ MB

In [12]:
df['Amount'] = df['Amount'].str.replace(',', '').astype(float)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44745 entries, 0 to 44744
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transaction Number       44745 non-null  object
 1   Transaction Date         44745 non-null  object
 2   Transaction Type         44745 non-null  object
 3   Transaction sub type     44745 non-null  object
 4   Registration type        44745 non-null  object
 5   Is Free Hold?            44745 non-null  object
 6   Usage                    44745 non-null  object
 7   Area                     44745 non-null  object
 8   Property Type            44745 non-null  object
 9   Property Sub Type        44745 non-null  object
 10  Amount                   44745 non-null  float64
 11  Transaction Size (sq.m)  44737 non-null  float64
 12  Property Size (sq.m)     44745 non-null  float64
 13  Room(s)                  44745 non-null  object
 14  Bedrooms                 44745 non-null  int64
 15  Parking                  38447 non-null  object
 16  Nearest Metro            29596 non-null  object
 17  Nearest Mall             29584 non-null  object
 18  Nearest Landmark         35288 non-null  object
 19  No. of Buyer             44745 non-null  int64
 20  No. of Seller            44745 non-null  int64
 21  Master Project           107 non-null    object
 22  Project                  44745 non-null  object
 23  Latitude_Project         44745 non-null  float64
 24  Longitude_Project        44745 non-null  float64
dtypes: float64(5), int64(3), object(17)
memory usage: 8.5+ MB

In [15]:
df['parking'] = df['Parking'].apply(lambda x: 'Yes' if pd.notna(x) and x.strip() != "" else 'No')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44745 entries, 0 to 44744
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Transaction Number       44745 non-null  object
 1   Transaction Date         44745 non-null  object
 2   Transaction Type         44745 non-null  object
 3   Transaction sub type     44745 non-null  object
 4   Registration type        44745 non-null  object
 5   Is Free Hold?            44745 non-null  object
 6   Usage                    44745 non-null  object
 7   Area                     44745 non-null  object
 8   Property Type            44745 non-null  object
 9   Property Sub Type        44745 non-null  object
 10  Amount                   44745 non-null  float64
 11  Transaction Size (sq.m)  44737 non-null  float64
 12  Property Size (sq.m)     44745 non-null  float64
 13  Room(s)                  44745 non-null  object
 14  Bedrooms                 44745 non-null  int64
 15  Parking                  38447 non-null  object
 16  Nearest Metro            29596 non-null  object
 17  Nearest Mall             29584 non-null  object
 18  Nearest Landmark         35288 non-null  object
 19  No. of Buyer             44745 non-null  int64
 20  No. of Seller            44745 non-null  int64
 21  Master Project           107 non-null    object
 22  Project                  44745 non-null  object
 23  Latitude_Project         44745 non-null  float64
 24  Longitude_Project        44745 non-null  float64
 25  parking                  44745 non-null  object
dtypes: float64(5), int64(3), object(18)
memory usage: 8.9+ MB

In [17]:
df = df.drop(columns=['Transaction Number', 'Transaction Date', 'Transaction sub type', 'Registration type', 'Is Free Hold?', 'Usage', 'Transaction Size (sq.m)', 'Room(s)', 'Parking', 'No. of Buyer', 'No. of Seller', 'Master Project'], axis=1)

In [20]:
df.to_csv('data/dubai edited.csv', index=False)

In [21]:
df=pd.read_csv('D:/Rajyug/Projects/Real Estate Price Prediction/notebook/data/Dubai edited.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44745 entries, 0 to 44744
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction Type      44745 non-null  object
 1   Area                  44745 non-null  object
 2   Property Type         44745 non-null  object
 3   Property Sub Type     44745 non-null  object
 4   Amount                44745 non-null  float64
 5   Property Size (sq.m)  44745 non-null  float64
 6   Bedrooms              44745 non-null  int64
 7   Nearest Metro         29596 non-null  object
 8   Nearest Mall          29584 non-null  object
 9   Nearest Landmark      35288 non-null  object
 10  Project               44745 non-null  object
 11  Latitude_Project      44745 non-null  float64
 12  Longitude_Project     44745 non-null  float64
 13  parking               44745 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 4.8+ MB